<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<!-- Chaine de connexion définie pour la connexion à la BD-->
	<connectionStrings>
		<add name="Infirmerie" connectionString="Data Source=localhost;Initial Catalog=BD_Infirmerie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>